@use "variaveis";

.footer {
  margin: 0 auto;
  max-width: 1024px;
  text-align: center;
  padding: 26px 8px;

  &__img {
    display: block;
    width: 80px;
    margin: 0 auto 10px;
  }

  &__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;

    &__item {
      padding: 8px 12px;
      list-style: none;

      &__link {
        text-decoration: none;
      }

      &--idioma {
        display: flex;

        select {
          background-color: transparent;
          color: variaveis.$corTextoPrincipal;
          border: none;
          margin-left: 4px;

          &:hover {
            border: none;
            color: variaveis.$corTextoSecundario;
            text-decoration: underline;
          }

          option {
            border: none;
            background-color: white;
            color: #040714;
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .footer {
    padding: 26px 5vw;
  }
}