@use "variaveis";
@use "nav-bar";
@use "footer";
@use "hero";
@use 'descricao';

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2)
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin font-size($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
}

body {
  font-family: Avenir, sans-serif;
  background-color: rgb(26, 29, 41);
  color: variaveis.$corTextoSecundario;
  letter-spacing: .2px;
  @include font-size(18px);
}

@media (min-width: 640px) and (max-width: 1025px) {
  body {
    @include font-size(16px);
  }
}

@media (max-width: 640px) {
  body {
    @include font-size(15px);
  }
}

@mixin font-size($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
}

@mixin title($fontSize: 28px) {
  @include font-size($fontSize);
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase
}

.text--big {
  @include font-size(20px);
}

@media (min-width: 640px) and (max-width: 1025px) {
  .text--big {
    @include font-size(18px);
  }
}

@media (max-width: 640px) {
  .text--big {
    @include font-size(16px);
  }
}

.text {
  @include font-size(16px);
}

@media (min-width: 640px) and (max-width: 1025px) {
  .text {
    @include font-size(15px);
  }
}

@media (max-width: 640px) {
  .text {
    @include font-size(14px);
  }
}

.text--small {
  @include font-size(12px);
  color: variaveis.$corTextoPrincipal
}

@media (max-width: 640px) {
  .text--small {
    @include font-size(11px);
  }
}

.link-text {
  cursor: pointer;
  @include font-size(18px);
  text-decoration: underline;
  @include font-size(20px)
}

.title--big {
  @include title(44px);
}

@media (min-width: 640px) and (max-width: 1025px) {
  .title--big {
    @include title(32px);
  }
}

@media (max-width: 640px) {
  .title--big {
    @include font-size(26px);
  }
}

.title {
  @include title(40px);
}

@media (min-width: 640px) and (max-width: 1025px) {
  .title {
    @include title(28px);
  }
}

@media (max-width: 640px) {
  .title {
    @include title(24px);
  }
}

.title--small {
  @include title(28px);
}

@media (min-width: 640px) and (max-width: 1025px) {
  .title--small {
    @include title(24px);
  }
}

@media (max-width: 640px) {
  .title--small {
    @include title(22px);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  color: variaveis.$corTextoSecundario;
  text-transform: uppercase
}

.btn--nav {
  height: 50px;
  padding: 0 16px;
}


.btn--nav {
  font-size: 13px;
  height: 40px;
  padding: 0 8px;
}

.btn--login {
  background-color: variaveis.$corDeFundo;
  opacity: 80%;
  border: 1px solid variaveis.$corTextoPrincipal;
  color: variaveis.$corTextoSecundario;

  &:hover {
    background-color: variaveis.$corTextoSecundario;
    color: black;
    opacity: 100%;
  }
}

@media (max-width: 640px) {
  .btn--login {
    opacity: 100%;
  }
}

.btn--principal {
  height: 68px;
  max-width: 700px;
  padding: 20.5px 33px;
}

.btn--plano {
  height: 50px;
  max-width: 260px;
  width: 100%;
  padding: 8px 14px;
  @include font-size(14px);
}

.btn--azul {
  background-color: #0063e5;
}

.btn--roxo {
  background-color: #6421ff;
}

.none {
  display: none;
}